
html, body { // prevents horizontal scroll
    max-width: 100%;
    overflow-x: hidden;
}

.dropdown-menu {
    width: 100% !important;
    height: 200px !important;
}

#swap-card {
  margin: 5%;
  position: relative;
  width: 35%;
  min-width: 300px;
  left: 28%;
  height: auto;

  background: #FCFCFC;

  /* shadow */
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}

#swap-card p {
  color: #6F767E;
  font-family: Poppins;
}

.swap-card-container {
  width: 100%;
  height: 40px;
  text-align:center;
  padding: 1%;
}

.swap-max-reward-usd{
  width: 45px;
  height: 24px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */
  text-align: right;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #00E8E7;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.swap-divider {
  width: 403px;
  height: 1px;

  background: #EFEFEF;

  /* Inside auto layout */
  flex: none;
  order: 6;
  flex-grow: 0;
}

.swap-confirm-btn {
  padding: 0;
  border: none;
  background: none;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 90%;

  background: #F4F4F4;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.swap-confirm-btn {
  font-family: Poppins;
  color: #9A9FA5;
}

.swap-confirm-btn:hover {
  background-color: #00E8E7;
  color: black;
}

.swap-card-title {
  position: relative;
  top: 8px;
  vertical-align: middle;
  font-size: 12px;
  float: left;
  font-weight: bold;
}

.swap-card-button {
  display: inline-block;
  float: right;
  padding: 0;
  border: none;
  background: none;
}

.swap-card-button:hover {
  filter: brightness(60%);
}


.swap-card-tag {
  display: inline-block;
  float: left;
  width: 16px;
  height: 32px;

  background: #37E4E5;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}


.nav img:hover {
  transform: scale(1.1) !important;
}

#footer a:hover {
  filter: brightness(60%) !important;
}

#footer {
  position: relative;
  font-family: Hurme;
}

#footer a {
  cursor:  pointer;
}


.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00E8E7;
}

.twitter-container {
  position: absolute;
  display: block;
  left: 43%;
  bottom: 70%;
  width: 3%;
}

.discord-container {
  position: absolute;
  display: block;
  left: 47%;
  bottom: 70%;
  width: 3%;
}

.telegram-container {
  position: absolute;
  display: block;
  left: 51%;
  bottom: 70%;
  width: 3%;
}
.medium-container {
  position: absolute;
  display: block;
  left: 55%;
  bottom: 70%;
  width: 3%;
}

@font-face {
  font-family: TTOctosquares-Black;
  src: url("font/TTOctosquares-Black.otf") format("opentype");
}

@font-face {
  font-family: Hurme;
  src:  url("font/HurmeGeometricSans1 BoldOblique.otf") format("opentype");
}

@font-face {
  font-family: Poppins;
  src:  url("font/Poppins-Regular.ttf") format("opentype");
}

#intro {
  text-align: center;
}

#intro > h1 {
  font-family: TTOctosquares-Black, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 6em;
}

#intro > h2 {
  font-family: TTOctosquares-Black, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2em;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.navbar {
  font-family: Hurme;
  height: 120px !important;
  margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #37E4E5 !important;
    border-color: #E7E7E7;
}

.navbar-brand {
  max-width: 150px !important;
}

.navbar-collapse-vertical-aligned {
  position: absolute;
  left: 150px;
  top: calc(25% - 1px) !important;
}

.navbar-nav-vertical-aligned {
  position: absolute;
  right: 20px;
  top: 23px;
}

#firstblock {
  font-family: Hurme;
  margin-top: 5%;
  text-align: center;
}

.statscontainer {
  margin-top: 5%;
  position: relative;
  text-align: center;
  color: black;
}

.subcontainer {
  position: absolute;
}

.rectangles {
  position: absolute;
  z-index: 1;
  right: 20%;
}

.shoe {
  position: absolute;
  z-index: 2;
  left: 10%;
  bottom: 0%;
}

.stat {
  font-family: Hurme;
  position: absolute;
  z-index: 2;
  left: 75%;
}

.distance {
  bottom: 83%;
}

.carbon {
  bottom: 58%;
}

.calories {
  bottom: 31%;
}

.twitter {
  bottom: 4%;
}

.statvalue {
  left: 50%;
  color: white;
  font-size: 29px;
}

#secondblock {
  font-family: Hurme;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}

.roadmap-firstrow {
  top: 8%;
}

.roadmap-secondrow {
  top: 44%;
}

.roadmap-thirdrow {
  top: 90%;
}

.roadmap-text-august {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 23%;
  left: 7% !important;
}

.roadmap-text-september {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 23%;
  left: 35% !important;
}

.roadmap-text-october {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 23%;
  left: 60% !important;
}

.roadmap-text-2023 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 62%;
  left: 15% !important;
}

.roadmap-text-december {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 62%;
  left: 40% !important;
}

.roadmap-text-november {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 62%;
  left: 65% !important;
}

.roadmap-text-2024 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 102%;
  left: 7% !important;
}

.roadmap-text-2025 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 102%;
  left: 35% !important;
}

.roadmap-text-2026 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 102%;
  left: 60% !important;
}


.circuitcontainer {
  margin-top: 5%;
  position: relative;
  text-align: center;
  color: black;
  height: auto;
}

.august {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 15%;
}

.september {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 40%;
}

.october {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 65%;
}

.y2023 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 30%;
  color: #00E8E7;
}

.december {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 50%;
  color: #00E8E7;
}

.november {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 70%;
  color: #00E8E7;
}

.y2024 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 25%;
  color: #00E8E7;
}

.y2025 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 45%;
  color: #00E8E7;
}

.y2026 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 70%;
  color: #00E8E7;
}

#thirdblock {
  font-family: Hurme;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}

.square {
  width: 70% !important;
  background-color: #00E8E7;
  position: relative;
  left: 16%;
  border-radius: 25px;
}

.sideshoe {
  margin-top: 10%;
  margin-bottom: 10%;
}

.email-input-container {
  margin-bottom: 20%;
}

#fourthblock {
  font-family: Hurme;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}


#fifthblock {
  font-family: Hurme;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}